/* Imported font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Tiro+Gurmukhi&display=swap');

body {
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  background-image: linear-gradient(rgb(139, 224, 224), rgb(111, 241, 111));
}
/* styling today's date at top of page  */
#currentDay {
  font-size: 45px;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  height: 100px;
  text-align: center;
}

/* styling tob row of table */
.events, .time{
  border-bottom: rgb(7, 7, 7) 2px solid;
  border-right: black 2px dotted;
  background-image: linear-gradient(to right, rgb(193, 118, 212), rgb(117, 117, 211));
  font-size: 30px;
  font-weight: bold;
  padding-top: 35px;
}

.timeDay {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  background-image: linear-gradient(to right, rgb(193, 118, 212), rgb(117, 117, 211));
  padding-top: 35px;
  font-size: 20px;
}

.schedule {
  vertical-align: top;
  white-space: normal;
  text-align: left;
  border-top: #000000 1px dashed;
  border-left: #000000 1px solid;
}

.form-control {
  color: #000000;
  font-size: 20px;
}

/* styling background colours for time slots based on time */
.past {
  background-color: #e1dcdc;
}

.present {
  background-color: #fbc66b;
}

.future {
  background-color: rgb(130, 217, 130);
}

.btn {
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: rgb(38, 38, 118);
  font-weight: bold;
  font-size: 20px;
}

.btn:hover {
  font-size: 25px;
  transition: all .3s ease-in-out;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(4, 7, 0, 0.521);
  transition: transform 150ms;
  transform: scale(1.03);
}

/* styling font awesome icon */
.fa-clipboard-check {
  font-size: 20px;
  color: rgb(63, 63, 144);
}

footer .row {
  margin-top: 50px;
  height: 50px;
  font-size: 25px;
  padding-top: 10px;
  border-top: #000000 1px solid;
  background-image: linear-gradient(to right, rgb(139, 224, 224), rgb(111, 241, 111));
}

#smallFoot {
  background-image: linear-gradient(to right, rgb(139, 224, 224), rgb(111, 241, 111));
  padding-bottom: 20px;
  font-size: 20px;
}